body.main {
 text-align: center;
 font-style: italic;
 box-sizing: border-box;
 width: 90%;
 max-width: 1080px;
 padding: 30px 15px;
 margin: 0 auto;
 position: relative;
 overflow: hidden;
 border-radius: 5px;
} /* ^^^ testing RPGen logo prjection? */

html {
 background-color: #5d6f7a
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
